# Pinning ansible-compat version due to [bug](https://github.com/ansible-community/molecule/issues/3903)
ansible-compat == 24.*
molecule == 24.*
molecule-plugins == 23.*
docker == 7.*
ansible-lint == 24.*
paramiko == 3.*
