{{ ansible_managed | comment }}

Director {
  Name = "{{ bareos_dir_hostname }}"
  Password = "{{ bareos_dir_password }}"
  QueryFile = "{{ bareos_dir_queryfile }}"
{% if bareos_dir_max_concurrent_jobs != 1 %}
  Maximum Concurrent Jobs = {{ bareos_dir_max_concurrent_jobs }}
{% endif %}
  Messages = "{{ bareos_dir_message }}"
{% if not bareos_dir_tls_enable %}
  TLS Enable = No
{% endif %}
{% if bareos_dir_tls_verify_peer %}
  TLS Verify Peer = Yes
{% endif %}
{% if bareos_dir_plugins is defined %}
  Plugin Names = "{{ bareos_dir_plugin_name }}"
  Plugin Directory = "{{ bareos_dir_plugin_dir }}"
{% endif %}
{% if bareos_dir_tls_ca_cert is defined and bareos_dir_tls_ca_cert != "" %}
  TLS CA Certificate File = "{{ bareos_dir_tls_ca_cert }}"
{% endif %}
{% if bareos_dir_tls_cert is defined and bareos_dir_tls_cert != "" %}
  TLS Certificate = "{{ bareos_dir_tls_cert }}"
{% endif %}
{% if bareos_dir_tls_cert_key is defined and bareos_dir_tls_cert_key != "" %}
  TLS Key = "{{ bareos_dir_tls_cert_key }}"
{% endif %}
}
