{{ ansible_managed | comment }}

Director {
  Name = "{{ bareos_dir_hostname }}"
  Password = "{{ bareos_dir_password }}"
  QueryFile = "{{ bareos_dir_queryfile }}"
{% if bareos_dir_max_concurrent_jobs != 1 %}
  Maximum Concurrent Jobs = {{ bareos_dir_max_concurrent_jobs }}
{% endif %}
  Messages = "{{ bareos_dir_message }}"

  TLS Enable = {{ bareos_dir_tls_enable | ternary("yes","no")}}
{% if bareos_dir_tls_ca_cert_dest is defined and
  bareos_dir_tls_ca_cert_src != "" and
  bareos_dir_tls_cert_dest is defined and
  bareos_dir_tls_cert_src != "" and
  bareos_dir_tls_cert_key_dest is defined and
  bareos_dir_tls_cert_key_src != ""
%}
  TLS CA Certificate File = {{ bareos_dir_tls_ca_cert_dest }}
  TLS Certificate = {{ bareos_dir_tls_cert_dest }}
  TLS Key = {{ bareos_dir_tls_cert_key_dest }}
{% endif %}

  TLS Verify Peer = {{ bareos_dir_tls_verify_peer | default(false) | ternary("yes","no")}}
{% if bareos_dir_tls_allowed_cns is defined and
  bareos_dir_tls_allowed_cns is iterable %}
{% for cn in bareos_dir_tls_allowed_cns %}
  TLS Allowed CN = "{{ cn }}"
{% endfor %}
{% endif %}

{% if bareos_dir_plugins is defined %}
  Plugin Names = "{{ bareos_dir_plugin_name }}"
  Plugin Directory = "{{ bareos_dir_plugin_dir }}"
{% endif %}
}
