{{ ansible_managed | comment }}

{% if item.enabled is defined and item.enabled or item.enabled is not defined %}
Console {
  Name = "{{ item.name }}"
{% if item.description is defined %}
  Description = "{{ item.description }}"
{% endif %}
  Password = "{{ item.password }}"
  TLS Enable = {{ item.tls_enable | default(true) | ternary('Yes', 'No') }}
{% if item.commandacl is defined %}
  Command ACL = {{ item.commandacl | join(', ') }}
{% endif %}
{% if item.jobacl is defined %}
  Job ACL = {{ item.jobacl | join(', ') }}
{% endif %}
{% if item.profile is defined %}
  Profile = "{{ item.profile }}"
{% endif %}
{% if item.use_pam_authentication is defined %}
  UsePamAuthentication = {{ item.use_pam_authentication | ternary('Yes', 'No') }}
{% endif %}
}
{% else %}
# This file is not enabled.
{% endif %}
